body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
img {
  width: 100%;
}
.card-main-title {
  padding-left: 12px;
  margin-bottom: 3px;
}
.card-little-title {
  padding-left: 12px;
  margin-bottom: 12px;
  color: gray;
}
.card-row {
  padding-left: 12px;
  padding-right: 12px;
}
.card-custom {
  border: 0;
}
.picks {
  border: 1px solid black;
}