{{ template "header.gohtml" }}
{{ template "navbar.gohtml" }}

<main class="container">
    <form method="POST" enctype="multipart/form-data" action="/submit/{{ .UserID }}">
        <table width="100%" class="picks">
            {{ range $i, $bowl := .Bowls }}
                {{ if modIsZero $i 2 }}
                    <tr>
                {{ end }}
                <td class="picks">
                    <div class="card card-custom">
                        <h5 class="card-title card-main-title">{{$bowl.BowlName}}</h5>
                        <h6 class="card-subtitle card-little-title"><i>Game Points {{$bowl.GamePoints}}</i></h6>
                        <div class="row card-row">
                            <div class="col-6">
                                <input type="radio" id="picks[{{$bowl.BowlID}}][{{$bowl.HomeID}}]" name="picks[{{$bowl.BowlID}}]" value="{{$bowl.HomeID}}">
                                <label for="picks[{{$bowl.BowlID}}][{{$bowl.HomeID}}]">{{$bowl.HomeTeam}}
                                    {{ if $bowl.HomeRank }}
                                        ({{ $bowl.HomeRank }})
                                    {{ end }}
                                </label>
                            </div>
                            <div class="col-6">
                                <input type="radio" id="picks[{{$bowl.BowlID}}][{{$bowl.AwayID}}]" name="picks[{{$bowl.BowlID}}]" value="{{$bowl.AwayID}}">
                                <label for="picks[{{$bowl.BowlID}}][{{$bowl.AwayID}}]">{{$bowl.AwayTeam}}
                                    {{ if $bowl.AwayRank }}
                                        ({{ $bowl.AwayRank }})
                                    {{ end }}
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
                {{ if modIsZero (plus $i 1) 2 }}
                    </tr>
                {{ end }}
            {{ end }}
        </table>
        <button type="submit" class="btn btn-primary float-right" style="margin-bottom: 15">Save Entries</button>
    </form>
</main>

<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>
